<!DOCTYPE html>
<html>
<title>MoonHR</title>
<link rel="stylesheet" href="./service.css" type="text/css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="banner fixed-top">
        <div class="container">
                <p>+977987654321<span>MoonHR@gmail.com</span></p>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg fixed-top navbar-light">
      <div class="container ">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="Home.html" style="color:#161D82;">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="about.html" style="color:#161D82;">About <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="services.html" style="color:#161D82;">Service <span class="sr-only">(current)</span></a>
          </li>
         
         
          <li class="nav-item">
            <a class="nav-link" href="contact.html" style="color:#161D82;">Contact</a>
          </li>
        </ul>
        
      </div>
      </div>
    </nav>
    <div class="myservice">
        <div class="container activities ">
            <h1 class="text-center mt-5">Our Activities</h1>

            <div class="row mt-5 text-center">
                <div class="col-md-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                    <h1>John Doe</h1>
                    <p>Architect & Engineer</p>
                    <p>We love that guy</p>
                  </div>
                </div>
              </div> 
              </div>

              <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                      </div>
                      <div class="flip-card-back">
                        <h1>John Doe</h1>
                        <p>Architect & Engineer</p>
                        <p>We love that guy</p>
                      </div>
                    </div>
                  </div> 
                  </div>

                  <div class="col-md-4">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                          </div>
                          <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                          </div>
                        </div>
                      </div> 
                      </div>
              </div>
        </div>
        <div class="container iconss">
        <h1 class="text-center mt-5">Why choose MoonHR?</h1>
       
       <div class="row icon1">
      
           <div class="col-md-4">
        
        <img src="./Image/q.png " alt="quality" height="200px"/>
        </div>

        <div class="col-md-4">
        
          <img src="./Image/q.png " alt="quality" height="200px"/>
          </div>
  

          <div class="col-md-4">
        
            <img src="./Image/q.png " alt="quality" height="200px"/>
            </div>
    

               
      </div>
      </div>
    </div>
    <div class="footer mt-5">
      <div class="container-fluid">
        <div class="row">
  
          <div class="col-md-4 text-center" >
            <h6>QR CODE</h6>
            <i class="fas fa-qrcode" style="font-size:150px"></i>
           
            <div class="qr mt-3">
            <i class="fas fa-facebook-square" ></i>  <i class="fas fa-twitter-square" ></i>  <i class="fab fa-instagram"  ></i>  <i class="fas fa-linkedin" ></i>
          </div>
          </div>
          <div class="container d-md-none d-sm-block ">
            <hr/>
            </div>
          <div class="col-md-4 text-center">
            <h6>QUICK LINKS</h6>
            <p><a  href="about.html"><u>About Us</u></a></p>
            <p><a href="services.html"><u>Servies</u></a></p>
  
            <p><a class="contact.html" href="#"><u>Contact Us</u></a></p>
            <div class="container d-md-none d-sm-block ">
              <hr/>
              </div>
          </div>
          <div class="col-md-4 text-center">
            <h6>OFFICE LOCATION</h6>
            <p>Kathmandu</p>
            <p>Nepal</p>
            <p>Hetauda</p>
            
          </div>
        </div>
        <div class="container">
        <hr/>
        </div>
        <div class="text-center">
          @ All Right Reserved 2019-2022
        </div>
      </div>
    </div>
</body>
</html>